.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  padding: 10px;
  min-height: 107px;
  box-shadow: 7px 11px 12px -4px $shadow;

  button {
    display: block;
    font-size: 15px;
    padding: 3px 9px;
  }

  input {
    margin-bottom: 5px;
  }

  .card-checkbox {
    background-color: white;
    margin-bottom: 5px;
  }
}

.card-form {
  display: flex;
  padding: 20px 0;

  .input-container {
    margin-right: 20px;
  }
}

.card-buttons {
  display: flex;
  justify-content: space-between;
}
